mmidb:
  name: "Physionet MMIDB - All Raw"
  toplevel: /h/146/demetres/datasets/physionet.org/files/eegmmidb/
  stride: 1024
  data_max: 0.001
  data_min: -0.001
  exclude_people:
    - S088
    - S090
    - S092
    - S100


mmidb_lrh:
  name: "Physionet MMIDB - L/R Hand MI"
  toplevel: /h/146/demetres/datasets/physionet.org/files/eegmmidb/
  tmin: 0
  tlen: 3
  data_max: 0.001
  data_min: -0.001
  events:
    - T1
    - T2
  exclude_sessions:
    - "*R0[!48].edf"  # equivalently "*R0[1235679].edf"
    - "*R1[!2].edf"   # equivalently "*R1[134].edf"
  exclude_people:
    - S088
    - S090
    - S092
    - S100

bci_iv_2a:
  name: "BCI Competition IV 2a"
  toplevel: /ais/clspace5/spoclab/BrainData/BCI-Competition-IV/dataset_2a/
#  stride: 1024
  tmin: -0.5
  tlen: 4.5
  data_max: 100
  data_min: -100
  extensions:
    - .raw.fif
  picks:
    - eeg
#  exclude_sessions:
#    - "*E*"

tueg_v1_2:
  data_max: 3276.7
  data_min: -1583.9258304722666
  toplevel: /ais/clspace5/spoclab/BrainData/TUEG/v1.2.0
  stride: 7680 # = 256 * 30 = 30 seconds
  thinkers: 1507
  dataset_id: 3
  task_id: 2
  total: 12918
#  preload: True
  rename_channels:
    CP3: "*C3P*"
    CP4: "*C4P*"
    FT9: "*T1*"
    FT10: "*T2*"
  exclude_channels: !include configs/tueg_channel_exclusions.yml
  exclude: !include configs/tueg_v1_2_bad_trial_rejection.yml
#  load_onthefly: True
